.DS_Store

**.pyc
__pychache__

.idea
.vagrant

**.vdi

**.h5
**.log
**.tar.gz

.ipynb_checkpoints

tmp/*

dataset/*
logs/*

build/*
dist/*

*.egg-info

hackathon/demo/_experiments/**
lib/tests/resources/_experiments/**